@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color: #f5f5f5;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #e20000;  
  right: 0;
  bottom: -8px;
  color: #e20000;
}

.icon{
  cursor: pointer;
}